<!-- página inicial para usuários ainda não logados-->

<h1 class="d-flex align-items-center justify-content-center">Gerencie sua conta corrente</h1>
<div class="d-flex align-items-center justify-content-center">
    <img src="https://s2.glbimg.com/mBdu7y0sX_cbKnieGIleTst1ADY=/0x0:825x619/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/u/n/83nNsCQ8SWRrziGD1mAw/stonks-meme.png", width="60%">
</div>