<h1 class="d-flex align-items-center justify-content-center">Saldo</h1>

<!-- mostra saldo atual do usuário logado no momento-->
<h1 class="d-flex align-items-center justify-content-center">R$ <%= sprintf('%.2f', Current.user.balance) %></h1>