<h1 class="d-flex align-items-center justify-content-center">Extrato</h1>
<br>
<div class="d-flex align-items-center justify-content-center">
    <img src="https://www.unifesp.br/reitoria/proec/images/PROEX/em_construcao1.jpg" width="100%">
</div>